PORT=3000
NODE_ENV=development

# Database
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres
DB_PORT=5432
DATABASE_URL="postgresql://postgres.[project-ref]:[password]@aws-0-[region].pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.[project-ref]:[password]@aws-0-[region].pooler.supabase.com:5432/postgres"

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_URL="redis://localhost:6379"

# Auth
JWT_SECRET="super-secret-key-change-me"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="super-secret-refresh-key-change-me"
JWT_REFRESH_EXPIRES_IN="7d"

# SMTP Mailer (Gmail SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM_NAME=DParcels
SMTP_FROM_EMAIL=

